<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenwealth - submit withdrawal</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
</head>
<body class="bg-one">

    <!-- Sidebar -->
    <div class="d-flex justify-content-center bg-one" id="mySidebar">
      <div class="sidenav-wrapper p-3">
        <span class="text-center">
          <h3 class="fw-bolder text-white mt-1">Zenwealth</h3>
          <p class="color-three motto text-center mb-5">...the zenith of wealth</p>
        </span>
        <ul class="sidenav-nav ps-0 h-100">
            <li class="unactive-item">
                <a href="/user/dashboard"><ion-icon name="home"></ion-icon><span>Dashboard</span></a>
            </li>
            <li class="unactive-item">
                <a href="/history/withdrawals"><ion-icon name="card-outline"></ion-icon><span>Withdrawals</span>
                </a>
            </li>
            <li class="unactive-item">
                <a href="/product/upload"><ion-icon name="cart-outline"></ion-icon><span>Upload Product</span></a>
            </li>
            <li class="unactive-item">
                <a href="/courses/purchased"><ion-icon name="pricetags-outline"></ion-icon><span>Purchased Courses</span></a>
            </li>
            <li class="unactive-item">
                <a href="/registration/p2p"><ion-icon name="person-add-outline"></ion-icon><span>P2P Registration</span></a>
            </li>
            <li class="unactive-item">
                <a href="/history/earnings"><ion-icon name="phone-portrait-outline"></ion-icon><span>Earning History</span>
                </a>
            </li>
            <li class="unactive-item">
                <a href="/downlines"><ion-icon name="people-outline"></ion-icon><span>Downlines</span></a>
            </li>
            <li class="logout unactive-item">
                <a href="/logout"><ion-icon name="log-out-outline"></ion-icon><span>Logout</span></a>
            </li>
        </ul>
      </div>
    </div>
    <!-- Sidebar ends -->


    <div class="bg-one d-flex justify-content-center" id="myMobileSidebar">
      <div class="sidenav-wrapper p-3">
        <span class="text-center">
          <h3 class="fw-bolder text-white mt-3">Zenwealth</h3>
          <p class="color-three motto text-center mb-4">...the zenith of wealth</p>
        </span>
        <ul class="mobile-sidenav-nav ps-0 h-100">
            <li class="unactive-item">
                <a href="/user/dashboard"><ion-icon name="home"></ion-icon><span>Dashboard</span></a>
            </li>
            <li class="unactive-item">
                <a href="/history/withdrawals"><ion-icon name="card-outline"></ion-icon><span>Withdrawals</span>
                </a>
            </li>
            <li class="unactive-item">
                <a href="/product/upload"><ion-icon name="cart-outline"></ion-icon><span>Upload Product</span></a>
            </li>
            <li class="unactive-item">
                <a href="/courses/purchased"><ion-icon name="pricetags-outline"></ion-icon><span>Purchased Courses</span></a>
            </li>
            <li class="unactive-item">
                <a href="/registration/p2p"><ion-icon name="person-add-outline"></ion-icon><span>P2P Registration</span></a>
            </li>
            <li class="unactive-item">
                <a href="/history/earnings"><ion-icon name="phone-portrait-outline"></ion-icon><span>Earning History</span>
                </a>
            </li>
            <li class="unactive-item">
                <a href="/downlines"><ion-icon name="people-outline"></ion-icon><span>Downlines</span></a>
            </li>
            <li class="logout unactive-item">
                <a href="/logout"><ion-icon name="log-out-outline"></ion-icon><span>Logout</span></a>
            </li>
        </ul>
      </div>
    </div>


    <!-- Main content -->
    <div id="main" class="bg-light" style="overflow-y: scroll;">
      <div class="bg-hero shadow" style="position: absolute; top: 0; width: 100%;"></div>

      <!-- Navbar Start -->
      <%- include('./partials/dashboard-nav') %>
      <!-- Navbar End -->

      <div class="ms-4 greeting-mobile">
        <h4 class="fw-bold text-white">Hello, <%= user.username %>! </h4>
      </div>

      <div class="container-fluid pt-2 progress-large">
        <div class="row g-3">
          <div class="col-lg-4">
            <div class="p-6 bg- radius-three">
              <div class="bg-five px-4 radius-three progress-div">
                <h5 class="text-white">Affiliate Balance</h5>
                <strong class="fs-5 text-white">$<span class="affiliateBalance">0</span></strong>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="p-6 bg- radius-three">
              <div class="bg-two px-4 radius-three progress-div">
                <h5 class="text-white">Game Balance</h5>
                <strong class="fs-5 text-white">$<span class="gameBalance">0</span></strong>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="p-6 bg- radius-three">
              <div class="bg-three px-4 radius-three progress-div">
                <h5 class="text-white">Activities Balance</h5>
                <strong class="fs-5 text-white"><span class="nonAffiliateBalance">0</span>ZP</strong>
              </div>
            </div>
          </div>
        </div>
      </div><br><br>

      
      <div class="container-fluid">
        <div class="row g-3" style="position: relative;">
            <div class="col-lg-4">
                <div class="radius-three card-div">
                  <div class="atm">
                    <p class="fs-4 fw-bold color-four" style="position: absolute; right: 25px; top: 10px;"><%= user.bank = null ? nulld : user.bank %></p>
                    <div class="chip ms-4" style="position: absolute; bottom: 105px;"><img src="img/chip.png" alt="chip"></div>
                    <div class="number ms-4 color-four"><%= !user.account_number ? 'N/A' : user.account_number%></div><br>
                    <div class="name ms-4 color-four" style="position: absolute; bottom: 20px;"><%= !user.account_name ? 'N/A' : user.account_name%></div><br>
                    <div class="from color-four" style="position: absolute; bottom: 20px; right: 25px;">10/19</div><br>
                    <div class="ring"></div>
                    <div class="atm-content radius-two"></div>
                  </div>
                  <div class="col-md-12 mt-4">
                    <a href="/user/bank-details">
                      <button class="bg-three w-100 radius-four text-white fw-bold py-2" style="border: none;" type="submit">Edit Details</button>
                    </a>
                </div>
                </div>
            </div>


            <div class="container-fluid pt-3 progress-mobile">
              <div class="d-flex gap-2" style="overflow: scroll; ">
                <div class="col-8">
                  <div class="radius-three">
                    <div class="bg-five px-4 py-4 radius-three progress-div">
                      <h5 class="text-white">Affiliate Balance</h5>
                      <strong class="fs-5 text-white">$<span class="affiliateBalance">0</span></strong>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="radius-three">
                    <div class="bg-two px-4 py-4 radius-three progress-div">
                      <h5 class="text-white">Game Balance</h5>
                      <strong class="fs-5 text-white">$<span class="gameBalance">0</span></strong>
                    </div>
                  </div>
                </div>
                <div class="col-8">
                  <div class="bg-four radius-three">
                    <div class="bg-three px-4 py-4 radius-three progress-div">
                      <h5 class="text-white">Activities Balance</h5>
                      <strong class="fs-5 text-white"><span class="nonAffiliateBalance">0</span>ZP</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>

      <div class="col-lg-8">
        <div class="bg-white radius-three p-3 submit-withdrawals-form">
          
          <form id="withdrawalForm">
            <div class="row g-3">
              <div class="col-md-12">
                <div class="form-floating">
                  <!-- <label class="form-label">Withdrawal Type</label> -->
                  <select class="form-select" id="type" name="withdrawalType" required="">
                    <option style="margin-top: -10px !important;">Select Withdrawal Type</option>
                    
                    <option value="affiliate">Affiliate Balance</option>
                    
                    <option value="game" disabled="">Game Balance</option>
                    
                    <option value="earnings">Activities Balance</option>
                  </select>
                </div>  
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <input class="form-control" placeholder="amount" type="number" name="amount" required="">
                  <label class="form-label">Withdrawal Amount</label>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating">
                  <input class="form-control" placeholder="pin" type="password" name="pin" maxlength="4" required="">
                  <label class="form-label">Withdrawal Pin</label>
                </div>
              </div>

              <div class="col-md-12">
                <button class="bg-three w-100 radius-four text-white fw-bold py-2" style="border: none;" type="submit">Submit Now</button>
            </div>            
          </div>
          </form>
        </div>
      </div>

    </div>
    </div>


      
      <footer class="bg-white shadow dashboard-footer">
        <div class="d-flex align-items-center justify-content-around" style="transform: translateY(10px);">
          <a href="user-dashboard.html">
            <div class="text-center">
              <ion-icon name="home-outline" style="font-size: 25px !important; margin-bottom: -5px;"></ion-icon>
              <p class="color-one">Dashboard</p>
            </div>
          </a>
          <a href="update-profile.html">
            <div class="text-center">
              <ion-icon name="person-outline" style="font-size: 25px !important; margin-bottom: -5px;"></ion-icon>
              <p class="color-one">Profile</p>
            </div>
          </a>
          <div class="text-center">
            <ion-icon name="call-outline" style="font-size: 25px !important;"></ion-icon>
            <!-- <ion-icon name="call" style="font-size: 30px !important;"></ion-icon> -->
            <p class="color-one">Airtime</p>
          </div>
          <div class="text-center">
            <ion-icon name="flash-outline" style="font-size: 25px !important;"></ion-icon>
            <!-- <ion-icon name="flash" style="font-size: 30px !important;"></ion-icon> -->
            <p class="color-one">Data</p>
          </div>
        </div>
      </footer>
    </div>

    <script src="/iziToast-master/dist/js/iziToast.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"></script>
    <script>
      var mainDiv = document.getElementById("main");
      var sideBar = document.getElementById("mySidebar");
      var menuIcon = document.getElementById("hamburger");
      var mobileSideBar = document.getElementById("myMobileSidebar");
      const checkbox = document.querySelector('.hamburger input');


      function togglenav() {
        if (mainDiv.style.marginLeft === "0%"){
          mainDiv.style.marginLeft = "19.2%";
          mainDiv.style.borderTopLeftRadius = "25px";
          mainDiv.style.borderBottomLeftRadius = "25px";
          sideBar.style.width = "19.2%";
        } else {
          mainDiv.style.marginLeft = "0%";
          sideBar.style.width = "0%";
          mainDiv.style.borderRadius = "0";
        }
      }

      checkbox.addEventListener('change', function() {
        if (this.checked) {
          mobileSideBar.style.width = '60%';
          menuIcon.style.marginLeft = '60%';
        } else {
          mobileSideBar.style.width = '0%';
          menuIcon.style.marginLeft = '0%';
        }
      });


    </script>
    <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/alert.js"></script>
    <script src="js/loadBalancesForWithdrawalPage.js"></script>
    <script src="js/withdrawal.js"></script>
</body>
</html>