<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raven - Dashboard</title>

    <link rel="shortcut icon" type="image/png" href="/img/zenith.png">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">

    </head>
<body>
    <!-- page-wrapper start -->
    <div class="page-wrapper default-version">
        <%- include('./partials/sideNav') %>
<!-- sidebar end -->

        <!-- navbar-wrapper start -->
<nav class="navbar-wrapper bg-one">
    <div class="navbar__left">
        <button type="button" class="res-sidebar-open-btn me-3"><i class="fa-solid fa-bars"></i></button>
        <form class="navbar-search">
            <input type="search" name="#0" class="navbar-search-field" id="searchInput" autocomplete="off" placeholder="Search here...">
            <i class="fa-solid fa-magnifying-glass"></i>         
            <ul class="search-list"></ul>
        </form>
    </div>
    <div class="navbar__right">
        <ul class="navbar__action-list">

            <li class="dropdown">
                <button type="button" class="primary--layer" data-bs-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-regular fa-bell text--primary  icon-left-right "></i>
                </button>
                <div class="dropdown-menu dropdown-menu--md p-0 border-0 box--shadow1 dropdown-menu-right">
                    <div class="dropdown-menu__header">
                        <span class="caption">Notification</span>
                                                    <p>You have 31214 unread notification</p>
                                            </div>
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 270px;"><div class="dropdown-menu__body" style="overflow: hidden; width: auto; height: 270px;">
                                                    <a href="https://earnhive.net/admin/notification/read/31214" class="dropdown-menu__item">
                                <div class="navbar-notifi">
                                    <div class="navbar-notifi__left bg--green b-radius--rounded"><img src="./Admin Dashboard_files/350x300" alt="Profile Image"></div>
                                    <div class="navbar-notifi__right">
                                        <h6 class="notifi__title">New member registered</h6>
                                        <span class="time"><i class="far fa-clock"></i>
                                            2 months ago</span>
                                    </div>
                                </div><!-- navbar-notifi end -->
                            </a>
                                                    <a href="https://earnhive.net/admin/notification/read/31213" class="dropdown-menu__item">
                                <div class="navbar-notifi">
                                    <div class="navbar-notifi__left bg--green b-radius--rounded"><img src="./Admin Dashboard_files/350x300" alt="Profile Image"></div>
                                    <div class="navbar-notifi__right">
                                        <h6 class="notifi__title">New member registered</h6>
                                        <span class="time"><i class="far fa-clock"></i>
                                            2 months ago</span>
                                    </div>
                                </div><!-- navbar-notifi end -->
                            </a>
                                                    <a href="https://earnhive.net/admin/notification/read/31212" class="dropdown-menu__item">
                                <div class="navbar-notifi">
                                    <div class="navbar-notifi__left bg--green b-radius--rounded"><img src="./Admin Dashboard_files/350x300" alt="Profile Image"></div>
                                    <div class="navbar-notifi__right">
                                        <h6 class="notifi__title">New member registered</h6>
                                        <span class="time"><i class="far fa-clock"></i>
                                            2 months ago</span>
                                    </div>
                                </div><!-- navbar-notifi end -->
                            </a>
                                                    <a href="https://earnhive.net/admin/notification/read/31211" class="dropdown-menu__item">
                                <div class="navbar-notifi">
                                    <div class="navbar-notifi__left bg--green b-radius--rounded"><img src="./Admin Dashboard_files/350x300" alt="Profile Image"></div>
                                    <div class="navbar-notifi__right">
                                        <h6 class="notifi__title">New member registered</h6>
                                        <span class="time"><i class="far fa-clock"></i>
                                            2 months ago</span>
                                    </div>
                                </div><!-- navbar-notifi end -->
                            </a>
                                                    <a href="https://earnhive.net/admin/notification/read/31210" class="dropdown-menu__item">
                                <div class="navbar-notifi">
                                    <div class="navbar-notifi__left bg--green b-radius--rounded"><img src="./Admin Dashboard_files/350x300" alt="Profile Image"></div>
                                    <div class="navbar-notifi__right">
                                        <h6 class="notifi__title">New member registered</h6>
                                        <span class="time"><i class="far fa-clock"></i>
                                            2 months ago</span>
                                    </div>
                                </div><!-- navbar-notifi end -->
                            </a>
                                                    <a href="https://earnhive.net/admin/notification/read/31209" class="dropdown-menu__item">
                                <div class="navbar-notifi">
                                    <div class="navbar-notifi__left bg--green b-radius--rounded"><img src="./Admin Dashboard_files/350x300" alt="Profile Image"></div>
                                    <div class="navbar-notifi__right">
                                        <h6 class="notifi__title">New member registered</h6>
                                        <span class="time"><i class="far fa-clock"></i>
                                            2 months ago</span>
                                    </div>
                                </div><!-- navbar-notifi end -->
                            </a>
                                                    <a href="https://earnhive.net/admin/notification/read/31208" class="dropdown-menu__item">
                                <div class="navbar-notifi">
                                    <div class="navbar-notifi__left bg--green b-radius--rounded"><img src="./Admin Dashboard_files/350x300" alt="Profile Image"></div>
                                    <div class="navbar-notifi__right">
                                        <h6 class="notifi__title">New member registered</h6>
                                        <span class="time"><i class="far fa-clock"></i>
                                            2 months ago</span>
                                    </div>
                                </div><!-- navbar-notifi end -->
                            </a>
                                                    <a href="https://earnhive.net/admin/notification/read/31207" class="dropdown-menu__item">
                                <div class="navbar-notifi">
                                    <div class="navbar-notifi__left bg--green b-radius--rounded"><img src="./Admin Dashboard_files/350x300" alt="Profile Image"></div>
                                    <div class="navbar-notifi__right">
                                        <h6 class="notifi__title">New member registered</h6>
                                        <span class="time"><i class="far fa-clock"></i>
                                            3 months ago</span>
                                    </div>
                                </div><!-- navbar-notifi end -->
                            </a>
                                                    <a href="https://earnhive.net/admin/notification/read/31206" class="dropdown-menu__item">
                                <div class="navbar-notifi">
                                    <div class="navbar-notifi__left bg--green b-radius--rounded"><img src="./Admin Dashboard_files/350x300" alt="Profile Image"></div>
                                    <div class="navbar-notifi__right">
                                        <h6 class="notifi__title">New member registered</h6>
                                        <span class="time"><i class="far fa-clock"></i>
                                            3 months ago</span>
                                    </div>
                                </div><!-- navbar-notifi end -->
                            </a>
                                                    <a href="https://earnhive.net/admin/notification/read/31205" class="dropdown-menu__item">
                                <div class="navbar-notifi">
                                    <div class="navbar-notifi__left bg--green b-radius--rounded"><img src="./Admin Dashboard_files/350x300" alt="Profile Image"></div>
                                    <div class="navbar-notifi__right">
                                        <h6 class="notifi__title">New member registered</h6>
                                        <span class="time"><i class="far fa-clock"></i>
                                            3 months ago</span>
                                    </div>
                                </div><!-- navbar-notifi end -->
                            </a>
                                            </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                    <div class="dropdown-menu__footer">
                        <a href="https://earnhive.net/admin/notifications" class="view-all-message">View all notification</a>
                    </div>
                </div>
            </li>


            <li class="dropdown">
                <button type="button" class="" data-bs-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-user">
                        <span class="navbar-user__thumb"><img src="img/637884b0303b61668842672.jpeg" alt="image"></span>
                        <span class="navbar-user__info">
                            <span class="navbar-user__name">geekdev</span>
                        </span>
                        <span class="icon"><i class="fa-solid fa-circle-chevron-down"></i></span>
                    </span>
                </button>
                <div class="dropdown-menu dropdown-menu--sm p-0 border-0 box--shadow1 dropdown-menu-right">
                    <a href="Admin Profile.html" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
                        <i class="dropdown-menu__icon fa-regular fa-user"></i>
                        <span class="dropdown-menu__caption">Profile</span>
                    </a>

                    <a href="Admin Password-setting.html" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
                        <i class="dropdown-menu__icon fa-solid fa-key"></i>                        
                        <span class="dropdown-menu__caption">Password</span>
                    </a>

                    <a href="#" class="dropdown-menu__item d-flex align-items-center px-3 py-2">
                        <i class="dropdown-menu__icon fa-solid fa-arrow-right-from-bracket"></i>                        
                        <span class="dropdown-menu__caption">Logout</span>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!-- navbar-wrapper end -->

        <div class="body-wrapper">
            <div class="bodywrapper__inner">

                <div class="d-flex mb-30 flex-wrap gap-3 justify-content-between align-items-center">
    <h6 class="page-title">Dashboard</h6>
    <div class="d-flex flex-wrap justify-content-end gap-2 align-items-center breadcrumb-plugins">
            </div>
</div>

                        
    <div class="row gy-4">
        <div class="col-xxl-3 col-sm-6">
            <div class="card bg--primary has-link box--shadow2 overflow-hidden">
                <a class="item-link" href="#"></a>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <i class="fa-solid fa-users f-size--42"></i>
                        </div>
                        <div class="col-8 text-end">
                            <span class="text--small text-white">Total Users</span>
                            <h2 class="text-white"><%= totalUsers %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- dashboard-w1 end -->
       
        <div class="col-xxl-3 col-sm-6">
            <div class="card bg--info has-link box--shadow2">
                <a class="item-link" href="#"></a>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <i class="fa-solid fa-envelope f-size--42"></i>
                        </div>
                        <div class="col-8 text-end">
                            <span class="text--small text-white">Unused Coupons</span>
                            <h2 class="text-white"><%= unusedCouponCodes %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- dashboard-w1 end -->
        <div class="col-xxl-3 col-sm-6">
            <div class="card bg--red has-link box--shadow2">
                <a class="item-link" href="#"></a>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <i class="fa-solid fa-envelope-open f-size--42"></i>
                        </div>
                        <div class="col-8 text-end">
                            <span class="text--small text-white">Used Coupons</span>
                            <h2 class="text-white"><%= usedCouponCodes %></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- dashboard-w1 end -->
    </div><!-- row end-->



    <div class="row gy-4 mt-2">
        <!-- dashboard-w1 end -->
        <div class="col-lg-4 col-sm-6">
            <div class="widget-two style--two box--shadow2 b-radius--5 bg--19">
                <i class="las la-users overlay-icon text--white"></i>
                <div class="widget-two__icon b-radius--5 bg--success">
                    <i class="fa-solid fa-coins f-size--28"></i>
                </div>
                <div class="widget-two__content">
                    <h3 class="text-white">₦<%= completedWithdrawals %></h3>
                    <p class="text-white">Completed Withdrawals</p>
                </div>

                
            </div>
        </div><!-- dashboard-w1 end -->
        
        <div class="col-lg-4 col-sm-6">
            <div class="widget-two style--two box--shadow2 b-radius--5 bg--19">
                <i class="las la-users overlay-icon text--white"></i>
                <div class="widget-two__icon b-radius--5 bg--danger">
                    <i class="fa-solid fa-coins f-size--28"></i>
                </div>
                <div class="widget-two__content">
                    <h3 class="text-white">₦<%= pendingWithdrawals %></h3>
                    <p class="text-white">Pending Withdrawals</p>
                </div>

                
            </div>
        </div><!-- dashboard-w1 end -->
    </div><!-- row end-->

    


            </div><!-- bodywrapper__inner end -->
        </div><!-- body-wrapper end -->
    </div>




<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/ionicons@latest/dist/ionicons/ionicons.js"></script>

<script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/js/app2.js"></script>


<script>
    "use strict";
    function notify(status,message) {
        iziToast[status]({
            message: message,
            position: "topRight"
        });
    }
</script>


    <script>
        if($('li').hasClass('active')){
            $('#sidebar__menuWrapper').animate({
                scrollTop: eval($(".active").offset().top - 320)
            },500);
        }
    </script>




</body>
</html>